<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="header">

        <header class="header-content" data-spy="affix" data-offset-top="197">

            <a href="#logo" class="logo">
                <!-- <img src="../public/assests/StudySyn.svg" alt="logoImage" class="logo-icon" /> -->
                <span class="logo-text">Phoneix</span>
            </a>

            <nav class="nav">
                <a href="index.html" class="nav-link">Home</a>
                <a href="#Learners" class="nav-link">Learners</a>
                <a href="#Mentors" class="nav-link">Mentors</a>
                <a href="#Resources" class="nav-link">Resources</a>
                <a href="../mapSetup/index.html" class="nav-link">Offline-Center</a>
            </nav>

            <a href="login.html" class="contact-button">
                Login / Register
            </a>

            <button type="button" class="menu-button">
                <img src="./images/Hamburger.svg" alt="menuButton" class="menu-icon" />
            </button>

        </header>

    </div>

    <div id = "Home" class="content">
        <section class="main-section">

            <div class="content-left">


                <!-- <div class="heading">Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” —Malcolm X</div> -->
                <!-- <div class="section-title">Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” —Malcolm X</div> -->

                <section class="home">
                    <div class="container">
                       <div class="row">
                           <div class="home-text">
                                <p class="animate-text">
                                   <span>There are plenty of difficult obstacles in your path. Don't allow yourself to become one of them." - Ralph Marston</span>
                                   <span>Self-belief and hard work will always earn you success." – Virat Kohli</span>
                                   <span>Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning." – Albert Einstien</span>
                                   <span>Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” —Malcolm X</span>
                                </p>
                           </div>
                       </div>
                    </div>
                </section>

                <div class="button-group">
                    <a href="#start" class="start-button">Counselling</a>
                    <a href="#tour" class="tour-button">Vision</a>
                </div>
            </div>
            
            <div class="content-right">

                <div class="image-container">
                    <img src="../public/assests/img1.png" alt="sectionImage" class="section-image" />
                </div>

            </div>
        </section>
    </div>

    <div id = "Learners" class="feature-container">
        <div class="feature-content">
            <div class="main-info">
                <h2 class="main-title">
                    Learners
                </h2>
                <p class="main-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, fugiat!
                </p>
            </div>
            
            <div class="feature-grid"> 
                <!--card 1 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/PersonalizedLearn.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            module1
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 2-->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/Affordability.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            module2
                        </div>
                        <div class="feature-description">
                           Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            simulation
                        </div>
                        <div class="feature-description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, natus.
                        </div>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/InnovativeTech.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            simulations
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 5 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            multimedia resources
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, quod?
                        </div>
                    </div>
                </div>
                <!-- card 6 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/Analytics.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            multimedia resources
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id = "Mentors" class="feature-container">
        <div class="feature-content">
            <div class="main-info">
                <h2 class="main-title">
                    Mentors
                </h2>
                <p class="main-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, fugiat!
                </p>
            </div>
            
            <div class="feature-grid"> 
                <!--card 1 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/PersonalizedLearn.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            module1
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 2-->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/Affordability.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            module2
                        </div>
                        <div class="feature-description">
                           Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            simulation
                        </div>
                        <div class="feature-description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, natus.
                        </div>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/InnovativeTech.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            simulations
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <!-- card 5 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            multimedia resources
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, quod?
                        </div>
                    </div>
                </div>
                <!-- card 6 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img class="feature-svg" src="./images/Analytics.svg"/>
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            multimedia resources
                        </div>
                        <div class="feature-description">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-container">
        <footer class="footer">

            <div class="footer-top">

                <div class="comp-logo">
                    <a class="logo-link" href="#">
                        <img class="logo-svg" src="./images/StudySyn.svg"/>
                        Phoneix
                    </a>
                </div>
                <p class="filler-text">Seamless Learning for Brighter Futures.</p>
                <div class="social">
                        <a class="social-link" href="#">
                            <img src="./images/instagram.svg" class="social-icon" />
                        </a>
                        <a class="social-link">
                            <img src="./images/linkedin.svg" class="social-icon" />
                        </a>
                        <a class="social-link">
                            <img src="./images/Microsoft.svg" class="social-icon" />
                        </a>
                        <a class="social-link">
                            <img src="./images/twitter.svg" class="social-icon" />
                        </a>
                </div>
            </div>

            <div class="footer-grid">
                        <!-- column 1 -->
                <div class="footer-grid-column">
                            <div class="footer-grid-heading">
                                Products
                            </div>
                            <ul class="footer-links-list">
                                <li>
                                    <a href="#overview" class="footer-link">Overview</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Solutions</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Pricing</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Customers</a>
                                </li>
                            </ul>
                </div>
                        <!-- column 2 -->
                <div class="footer-grid-column">
                            <div class="footer-grid-heading">
                                Company
                            </div>
                            <ul class="footer-links-list">
                                <li>
                                    <a href="#overview" class="footer-link">About</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Investor Relations</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Jobs</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Press</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Blog</a>
                                </li>
                            </ul>
                </div>
                        <!-- column 3 -->
                <div class="footer-grid-column">
                            <div class="footer-grid-heading">
                                Support
                            </div>
                            <ul class="footer-links-list">
                                <li>
                                    <a href="#overview" class="footer-link">Contact</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Documentation</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Chat</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">FAQ</a>
                                </li>
                            </ul>
                </div>
                        <!-- column 4 -->
                <div class="footer-grid-column">
                            <div class="footer-grid-heading">
                                Legal
                            </div>
                            <ul class="footer-links-list">
                                <li>
                                    <a href="#overview" class="footer-link">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#overview" class="footer-link">Cookie Settings</a>
                                </li>
                                
                            </ul>
                </div>
            </div>
        </footer>
        <div class="footer-copyright">
            © 2021 - Present StudySync. All rights reserved.
        </div>
    </div>
    <script>
        const txts=document.querySelector(".animate-text").children,
              txtsLen=txts.length;
          let index=0;
         const textInTimer=3000,
               textOutTimer=2800;

        function animateText() {
           for(let i=0; i<txtsLen; i++){
             txts[i].classList.remove("text-in","text-out");  
           }
           txts[index].classList.add("text-in");

           setTimeout(function(){
               txts[index].classList.add("text-out");              
           },textOutTimer)

           setTimeout(function(){

             if(index == txtsLen-1){
                 index=0;
               }
              else{
                  index++;
                }
               animateText();
           },textInTimer); 
        }
        
        window.onload=animateText;
  
</script>
</body>

</html>