<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
<link rel="stylesheet" href="../public/resources.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    
    <div id = "Learners" class="feature-container" data-aos="fade-right">
        <div class="feature-content">
            <div class="main-info">
                <h2 class="main-title">
                    Resources
                </h2>
                <p class="main-description">
                    Get access to library of thousands of resources!
                </p>
            </div>
            
            <div class="feature-grid" data-aos="fade-right"> 
                <!--card 1 -->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/PersonalizedLearn.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Study-Guides
                        </div>
                        <div class="feature-description">
                            Get pdf of your books
                        </div>
                    </div>
                </div>
                <!-- card 2-->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/Affordability.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Practice-Test
                        </div>
                        <div class="feature-description">
                           Track your progress
                        </div>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Lectures
                        </div>
                        <div class="feature-description">
                            Get feel of real classroom
                        </div>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/InnovativeTech.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Educational Games
                        </div>
                        <div class="feature-description">
                            Integrating education and gaming
                        </div>
                    </div>
                </div>
                <!-- card 5 -->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/IndustryPatner.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Formula-Sheets
                        </div>
                        <div class="feature-description">
                            Perfect revision for your exams
                        </div>
                    </div>
                </div>
                <!-- card 6 -->
                <div class="feature-card">
                    <!-- <div class="icon-container">
                        <img class="feature-svg" src="./images/Analytics.svg"/>
                    </div> -->
                    <div class="feature-info">
                        <div class="feature-title">
                            Live-Class
                        </div>
                        <div class="feature-description">
                            Includes one on one interaction
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>

</body>
</html>